.grid{
    height:100vh;
    margin-left:250px;
 
}
.card{
    margin-top:35px;
 box-shadow:5px 5px 5px black;
}
.body{
    
    display: grid;
    grid-template-columns: 25% 25% 25%;
}
.img{
    padding:30px;
  
}
.b{
    position: absolute;
    bottom:5px;
}